<div class="container">
    <div class="line">
        <TimeSpanDisplay Label="Sollarbeitszeit" TheTimeSpan="@InfoData.Worktime" />
        <TimeSpanDisplay Label="Korona Delta" TheTimeSpan="@InfoData.CoronaDelta" />
        <TimeSpanDisplay Label="Korona - Arbeitszeit" TheTimeSpan="@InfoData.WorktimeCorona" />
    </div>
    <div class="line">
        <TimeSpanDisplay Label="Ist - Arbeitszeit" TheTimeSpan="@InfoData.Worked" />
        <TimeSpanDisplay Label="Korona Ist" TheTimeSpan="@InfoData.KuaActual" />
        <TimeSpanDisplay Label="Pause Ist" TheTimeSpan="@InfoData.Pause" />
    </div>
    <div class="line">
        <TimeSpanDisplay Label="Ist AZ Diff" TheTimeSpan="@InfoData.TargetDiff" />
        <TimeSpanDisplay Label="Korona Diff" TheTimeSpan="@InfoData.KuaDiff" />
        <TimeSpanDisplay Label="Pause Diff" TheTimeSpan="@InfoData.PauseTargetDiff" />
    </div>
</div>
